body {
  background: white;
}
p {
  color:black;
  text-align:center;
  font-family: Monospace;

}

h1 {

  color: black;
  font-family: monospace;
  text-align:center;
}


h3 { 
  font-family: monospace;
  color: black;
  text-align:center;
}



h2 {
  font-family: monospace;
  color: black;
  text-align:center;
}

h5 {
  text-align:center;
}

ul {

  font-family: monospace;
  color:black;
  text-align:left;

}
